{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Baxtech/css/about_us.css' %}">
{% endblock %}

{% block title %}About Us{% endblock %}
{% block section_title %}Welcome {{ user_name | title}}{% endblock %}
{% block content %}
    <h3>Contact Us</h3>

    <form method="post" action="{% url 'about_us' %}">
        <!-- <input type="Some Text"> -->
        <!-- <input type="submit" value="Save"> -->
        {% csrf_token %} <!-- required for a POST -->
        <div class="about_us_form">
            {{ form.as_p}} <!-- the .as_p treats each item of the form a being inside a <p> </p> -->
        </div>
        <input type="submit" value="Send Message">
    </form>

{% endblock %}