{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baxtech {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags}}" {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}


        <h1>Welcome to Baxtech</h1>
        <h2>{% block section_title %}{% endblock %}</h2>

    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'cart' %}">Your shopping cart</a></li>
            <li><a href="{% url 'about_us' %}">About Us</a></li>
        </ul>
    </nav>
    <main>


        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include 'core/footer.html' %}
    </footer>
</body>
</html>