{% extends "Core/base.html" %}
{% load static%}
{% block main_content %}
<section>
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-md-12 ">
                <div class="w-100 contact-bg my-5 rounded">
                    <div class="row mb-5">
                        <div class="col-md-7">
                            <div class="w-100 p-md-5 p-4">
                                <h3 class="mb-4 fw-light fs-4">Dejanos tu consulta</h3>
                                <form action="{% url 'contacto'%}" name="contactForm" method="POST" id="contactForm">
                                    {% csrf_token %}
                                    <div class="row">
                                        {% for message in messages %}
                                        <div class="alert alert-success" role="alert">
                                            {{message}}
                                        </div>
                                        {% endfor %}
                                        {% for field in contact_form.visible_fields %}
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                        {{ field }}
                                            {% for error in field.errors %}
                                                <div class="">{{ error }}</div>
                                            {% endfor %}
                                        {% endfor %}
                                        <div class="col-md-12">
                                            <input type="submit" value="Enviar" class="btn form-btn my-2">
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div>
                        <div class="col-md-5 rounded">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.858226505792!2d-58.7663061238703!3d-34.658283200548155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9512dd8aeb59%3A0xc78ff3fe9b8c9677!2sCalle%20falsa%20123%2C%20Paso%20del%20Rey%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1699316427040!5m2!1ses-419!2sar" width="100%" height="100%" style="border-radius: 15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end form -->
{% endblock main_content %}