{% extends "Core/base.html" %}
{% load static%}
{% block main_content %}
    <!-- header -->
    <header id="header" class="vh-100 carousel slide" data-bs-ride="carousel" style="padding-top: 104px;">
        <div class="container h-100 d-flex align-items-center carousel-inner">
            <div class="text-center carousel-item active">
                <h2 class="text-capitalize text-white">Productos destacados</h2>
                <h1 class="text-uppercase py-2 fw-bold text-white">Nuevos Productos</h1>
                <a href="#" class="btn mt-3 text-uppercase">Comprar</a>
            </div>
            <div class="text-center carousel-item">
                <h2 class="text-capitalize text-white">Ofertas Especiales</h2>
                <h1 class="text-uppercase py-2 fw-bold text-white">Destacados</h1>
                <a href="#" class="btn mt-3 text-uppercase">Comprar</a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </header>
    <!-- end header -->
    {% comment %} <!-- special products -->
    <section class="py-5" id="special">
        <div class="container">
            <div class="title text-center py-5">
                <h2 class="position-relative d-inline-block">Destacados</h2>
            </div>
            <div class="special-list row g-0">
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 card">
                    <div class="collection-img">
                        <img class="w-100" src="{% static 'Core/img/motherboardb550.png' %}" alt="motherboard b550">
                    </div>
                    <div class="text-center border-top">
                        <p class="text-capitalize my-1"><a href="#" class="stretched-link text-reset text-decoration-none">Sapphire Pulse AMD Radeon RX 6700 XT 12GB GDDR6</a></p>
                        <span class="fw-bold">$ 329.99</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end special products --> {% endcomment %}
    <!-- special products -->
<!-- special products -->
<section class="py-5" id="special">
    <div class="container">
        <div class="title text-center py-5">
            <h2 class="position-relative d-inline-block">Destacados</h2>
        </div>
        <div class="special-list row g-0">
            {% for producto in productos_destacados %}
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 card">
                    <div class="collection-img">
                        <img class="w-100" src="{{ producto.image.url }}" alt="{{ producto.prod_name }}">
                    </div>
                    <div class="text-center border-top">
                        <p class="text-capitalize my-1"><a href="#" class="stretched-link text-reset text-decoration-none">{{ producto.prod_name }}</a></p>
                        <span class="fw-bold">${{ producto.price }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end special products -->


{% endblock main_content %}