{% extends "Core/base.html" %}
{% load static%}
{% block main_content %}
    <!-- Filtros -->
<div class="text-center py-3">
    <a href="?tag=" class="btn btn-primary mx-2">Todos</a>
    <a href="?tag=destacado" class="btn btn-primary mx-2">Destacados</a>
    <a href="?tag=oferta" class="btn btn-primary mx-2">Ofertas</a>
    
</div>

<!-- special products -->
<section class="py-5" id="special">
    <div class="container">
        <div class="title text-center py-5">
            <h2 class="position-relative d-inline-block">Productos</h2>
        </div>
        <div class="special-list row g-0">
            {% for producto in productos_filtrados %}
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 card">
                    <div class="collection-img">
                        <img class="w-100" src="{{ producto.image.url }}" alt="{{ producto.prod_name }}">
                    </div>
                    <div class="text-center border-top">
                        <p class="text-capitalize my-1"><a href="#" class="stretched-link text-reset text-decoration-none">{{ producto.prod_name }}</a></p>
                        <span class="fw-bold">${{ producto.price }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end special products -->

{% endblock main_content %}